body {
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#main {
    width: 100%;
    text-align: left;
    padding: 10px;
    margin: 5px;
}
header {
    height: 100px;
    padding: 10px;
    border: 2px solid lightcoral;
    background-color: bisque;
    font-size: 30pt;   
}
nav, section {
    float: left;
    height: 500px;
    padding: 10px;
}
nav {
    width: 10%;
    background-color: darkgray;
    font-size: 10pt;
}
section {
    width: 80%;
    background-color: aliceblue;
    font-size: 20pt;
}